MONGODB_URL=mongodb+srv://<db_name>:<db_password>@cluster0.blcgyhg.mongodb.net
CLOUDINARY_NAME=dtzeSTRtruvc
CLOUDINARY_API_KEY=944952272585281
CLOUDINARY_SECRET_KEY=7oaRervGSTR7o6MYTlMhKGIBUk0cvc
ADMIN_EMAIL=admin@prescripto.com
ADMIN_PASSWORD=admin@123
JWT_SECRET=sujandev