@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}

@layer utilities {
  .bg-primary {
    background-color: #5f6fff;
  }
  .text-primary {
    color: #5f6fff;
  }
  .border-primary {
    border-color: #5f6fff;
  }
  .hover\:bg-primary:hover {
    background-color: #5f6fff;
  }
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/* Show the underline for the active menu */
.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width: 740px) {
  .active p {
    color: white;
    background-color: #5f6fff;
  }
}
